*,
*:after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: green;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
}

.bubble {
  width: 40px;
  aspect-ratio: 1 / 1;
  border: 1px solid #000;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}
.bubble1 {
  animation-name: touch1;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.bubble5 {
  animation-name: touch2;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes touch1 {
  0% {
    left: -100px;
  }
  25% {
    left: 0;
  }
  50% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: -100px;
  }
}
@keyframes touch2 {
  0% {
    right: 0;
  }
  25% {
    right: 0;
  }
  50% {
    right: -100px;
  }
  75% {
    right: 0;
  }
  100% {
    right: 0;
  }
}
